In [20]:
import pandas as pd
import json
import random as rnd

In [2]:
data = pd.read_json('orders.json')

In [3]:
data

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
priority,HIGH,LOW,LOW,HIGH,HIGH,LOW,HIGH,LOW,HIGH,LOW,...,LOW,LOW,LOW,LOW,LOW,LOW,LOW,LOW,LOW,HIGH
product,Laptop,Laptop,Laptop,Chair,GPU,Laptop,Floppy,Chair,Chair,GPU,...,Chair,Chair,Laptop,Chair,GPU,Plant,Chair,GPU,Laptop,Plant
quantity,27,36,34,14,72,25,30,2,69,26,...,26,73,8,18,62,56,72,5,12,29

In [7]:
f = open('orders.json')
data_dict = json.load(f)
data_dict
f.close()

In [9]:
data_dict['1'][]

{'priority': 'HIGH', 'product': 'Laptop', 'quantity': 27}

In [10]:
data[1]

priority      HIGH
product     Laptop
quantity        27
Name: 1, dtype: object

In [11]:
data[1]['priority']

'HIGH'

In [12]:
len(data)

3

In [13]:
len(data_dict)

100

In [19]:
len(data.columns)

100

In [25]:
print([rnd.randrange(1,101) for _ in range(100)])

[51, 78, 79, 6, 35, 20, 23, 13, 64, 11, 37, 8, 44, 97, 14, 30, 58, 27, 3, 12, 9, 41, 34, 77, 10, 36, 5, 95, 9, 92, 17, 84, 86, 5, 17, 97, 70, 87, 10, 23, 69, 9, 21, 46, 66, 66, 39, 40, 27, 29, 30, 99, 83, 44, 35, 90, 1, 55, 66, 49, 6, 39, 89, 2, 16, 40, 84, 83, 7, 11, 85, 82, 31, 37, 20, 32, 27, 44, 76, 33, 74, 15, 15, 75, 22, 75, 18, 80, 64, 100, 48, 49, 94, 50, 36, 9, 43, 38, 10, 26]

In [26]:
print([x+1 for x in range(100)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
print([rnd.rand])